{{ block "index" . }}
<!DOCTYPE html>
<html>
  <head>
    <title>Parkbuddy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/scripts/wasm_exec.js"></script>
    <script>
      const go = new Go();
      WebAssembly.instantiateStreaming(fetch("/scripts/test.wasm"), go.importObject).then((result) => {
        go.run(result.instance);
      });
    </script>
  </head>
  <body>
    <canvas id="Canvas"></canvas>
  </body>
</html>

{{ end }}
